.ant-segmented {
    .ant-segmented-item-input {
        position: absolute !important;
    }

    .ant-segmented-item {
        margin-bottom: 0;
    }

    &:not(.ant-segmented-block) {
        width: fit-content;
    }
}
